.contact__container{
    padding-top: 2rem;
    row-gap: 2rem;
    .contact__img{
        width: 270px;
        filter: $shadowImg;
        justify-self: center;
    }
    .contact__content{
        display: grid;
        row-gap: 2rem;
        text-align: center;
        .contact__title{
            font-size: $h2FontSize;
            margin-bottom: 0.5rem;
            .contact__info{
                font-style: normal;
            }
        }
        .contact__social{
            display: inline-flex;
            column-gap: .75rem;
            a{
                color: $firstColor;
                font-size: 1.5rem;
            }
        }
    }
}