.shop__container{
    padding-top: 6.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 1.5rem;
    @media(max-width: 576px) {
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
    }
    @media(max-width: 320px){
        grid-template-columns: 160px;
        justify-content: center;
    }
    .shop__card{
        position: relative;
        background: $gradientCard;
        padding: 5.75rem .75rem 1.25rem .75rem;
        border: 2px solid $firstColor;
        border-radius: 1rem;
        .shop__img{
            position: absolute;
            top: -4.5rem;
            left: 0;
            right: 0;
            width: 130px;
            margin: 0 auto;
            transition: transform .4s;
        }
        .shop__title{
            font-size: $smallFontSize;
            font-weight: $fontSemiBold;
            margin-bottom: .5rem;
        }
        .shop__price{
            color: $titleColor;
            font-weight: $fontSemiBold;
        }
        .shop__btn{
            position: absolute;
            right: 0.75rem;
            bottom: 0.75rem;
            outline: none;
            border: none;
            background-color: $whiteColor;
            padding: 6px;
            border-radius: 50%;
            font-size: 1.25rem;
            display: grid;
            cursor: pointer;
        }
        &:hover .shop__img{
            transform: translateY(-.5rem);
        }
    }
}